<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>JB Productions</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
      <div class="row">
        <h1 class="header">JB Productions</h1>
      </div>
      <div class="row">
          <div class="slogan">
            <p class="slogan">Welcome to JB Productions Portfolio Page </p>
          </div>
      </div>
    <div class="row">
            <!-- inject:jpg -->

            <!-- endinject -->
    </div>
  </div>

</body>

</html>
